--
-- PostgreSQL database dump
--

\restrict bX3OYbzxilhBgz6jJhnlFilKesNtxrx8RG5VCqKB3AKFguuUnZx9zWSbp4DPasm

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg13+1)
-- Dumped by pg_dump version 18.4 (Debian 18.4-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: aegissoc
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO aegissoc;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: aegissoc
--

CREATE TABLE public.assets (
    id integer NOT NULL,
    hostname character varying NOT NULL,
    ip_address character varying NOT NULL,
    operating_system character varying,
    criticality character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.assets OWNER TO aegissoc;

--
-- Name: assets_id_seq; Type: SEQUENCE; Schema: public; Owner: aegissoc
--

CREATE SEQUENCE public.assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assets_id_seq OWNER TO aegissoc;

--
-- Name: assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aegissoc
--

ALTER SEQUENCE public.assets_id_seq OWNED BY public.assets.id;


--
-- Name: scans; Type: TABLE; Schema: public; Owner: aegissoc
--

CREATE TABLE public.scans (
    id integer NOT NULL,
    asset_id integer NOT NULL,
    scanner character varying NOT NULL,
    scan_type character varying NOT NULL,
    status character varying,
    started_at timestamp without time zone,
    completed_at timestamp without time zone
);


ALTER TABLE public.scans OWNER TO aegissoc;

--
-- Name: scans_id_seq; Type: SEQUENCE; Schema: public; Owner: aegissoc
--

CREATE SEQUENCE public.scans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.scans_id_seq OWNER TO aegissoc;

--
-- Name: scans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aegissoc
--

ALTER SEQUENCE public.scans_id_seq OWNED BY public.scans.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: aegissoc
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(50),
    is_active boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO aegissoc;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: aegissoc
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO aegissoc;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aegissoc
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vulnerabilities; Type: TABLE; Schema: public; Owner: aegissoc
--

CREATE TABLE public.vulnerabilities (
    id integer NOT NULL,
    asset_id integer NOT NULL,
    cve_id character varying,
    title character varying NOT NULL,
    description character varying,
    cvss_score double precision,
    severity character varying NOT NULL,
    status character varying,
    solution character varying,
    discovered_date timestamp with time zone DEFAULT now(),
    plugin_id character varying
);


ALTER TABLE public.vulnerabilities OWNER TO aegissoc;

--
-- Name: vulnerabilities_id_seq; Type: SEQUENCE; Schema: public; Owner: aegissoc
--

CREATE SEQUENCE public.vulnerabilities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vulnerabilities_id_seq OWNER TO aegissoc;

--
-- Name: vulnerabilities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: aegissoc
--

ALTER SEQUENCE public.vulnerabilities_id_seq OWNED BY public.vulnerabilities.id;


--
-- Name: assets id; Type: DEFAULT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.assets ALTER COLUMN id SET DEFAULT nextval('public.assets_id_seq'::regclass);


--
-- Name: scans id; Type: DEFAULT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.scans ALTER COLUMN id SET DEFAULT nextval('public.scans_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vulnerabilities id; Type: DEFAULT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.vulnerabilities ALTER COLUMN id SET DEFAULT nextval('public.vulnerabilities_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: aegissoc
--

COPY public.alembic_version (version_num) FROM stdin;
f3e4524249ce
\.


--
-- Data for Name: assets; Type: TABLE DATA; Schema: public; Owner: aegissoc
--



--
-- Data for Name: scans; Type: TABLE DATA; Schema: public; Owner: aegissoc
--

COPY public.scans (id, asset_id, scanner, scan_type, status, started_at, completed_at) FROM stdin;
1	1	Nessus	Vulnerability Assessment	Pending	2026-07-26 08:15:29.024849	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: aegissoc
--

COPY public.users (id, username, email, hashed_password, role, is_active, created_at) FROM stdin;
1	admin	admin@aegissoc.com	$2b$12$ez1UIVuDwIQf7Rn7ZuOXj.edLzYD8XcyuLOkc6cDlofvZcdpmPjSu	analyst	t	2026-07-26 07:09:31.486474+00
\.


--
-- Data for Name: vulnerabilities; Type: TABLE DATA; Schema: public; Owner: aegissoc
--



--
-- Name: assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aegissoc
--

SELECT pg_catalog.setval('public.assets_id_seq', 9, true);


--
-- Name: scans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aegissoc
--

SELECT pg_catalog.setval('public.scans_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aegissoc
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: vulnerabilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: aegissoc
--

SELECT pg_catalog.setval('public.vulnerabilities_id_seq', 1181, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: scans scans_pkey; Type: CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.scans
    ADD CONSTRAINT scans_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vulnerabilities vulnerabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_pkey PRIMARY KEY (id);


--
-- Name: ix_assets_id; Type: INDEX; Schema: public; Owner: aegissoc
--

CREATE INDEX ix_assets_id ON public.assets USING btree (id);


--
-- Name: ix_scans_id; Type: INDEX; Schema: public; Owner: aegissoc
--

CREATE INDEX ix_scans_id ON public.scans USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: aegissoc
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: aegissoc
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: aegissoc
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_vulnerabilities_id; Type: INDEX; Schema: public; Owner: aegissoc
--

CREATE INDEX ix_vulnerabilities_id ON public.vulnerabilities USING btree (id);


--
-- Name: scans scans_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.scans
    ADD CONSTRAINT scans_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: vulnerabilities vulnerabilities_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: aegissoc
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bX3OYbzxilhBgz6jJhnlFilKesNtxrx8RG5VCqKB3AKFguuUnZx9zWSbp4DPasm

